---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
import Body from '../../components/Body.astro';

// Define the interface for product data
interface Producto {
  id: string;
  titulo: string;
  descripcion: string;
  linkImagen: string;
  precio: string;
}

export async function getStaticPaths() {
  const res = await fetch('https://quasar-scientific-sidewalk.glitch.me/productos');
  const productos: Producto[] = await res.json();

  return productos.map(({ id, titulo, descripcion, linkImagen, precio }) => {
    return {
      params: { slug: id },
      props: { id, titulo, descripcion, linkImagen, precio },
    };
  });
}

const { id, titulo, descripcion, linkImagen, precio } = Astro.props;

---

<Layout>
  <Navbar />
  <Body>
    <img src={linkImagen} alt="" class="product-image" />
    <div class="product-info-container">
      <h2 class="product-title">{titulo}</h2>
      <p class="product-price">${precio}</p>
      <div class="medios-pago">
        <p class="product-description">Medios de pago</p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-bank" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 21l18 0" />
          <path d="M3 10l18 0" />
          <path d="M5 6l7 -3l7 3" />
          <path d="M4 10l0 11" />
          <path d="M20 10l0 11" />
          <path d="M8 14l0 3" />
          <path d="M12 14l0 3" />
          <path d="M16 14l0 3" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-cashapp" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M17.1 8.648a.568 .568 0 0 1 -.761 .011a5.682 5.682 0 0 0 -3.659 -1.34c-1.102 0 -2.205 .363 -2.205 1.374c0 1.023 1.182 1.364 2.546 1.875c2.386 .796 4.363 1.796 4.363 4.137c0 2.545 -1.977 4.295 -5.204 4.488l-.295 1.364a.557 .557 0 0 1 -.546 .443h-2.034l-.102 -.011a.568 .568 0 0 1 -.432 -.67l.318 -1.444a7.432 7.432 0 0 1 -3.273 -1.784v-.011a.545 .545 0 0 1 0 -.773l1.137 -1.102c.214 -.2 .547 -.2 .761 0a5.495 5.495 0 0 0 3.852 1.5c1.478 0 2.466 -.625 2.466 -1.614c0 -.989 -1 -1.25 -2.886 -1.954c-2 -.716 -3.898 -1.728 -3.898 -4.091c0 -2.75 2.284 -4.091 4.989 -4.216l.284 -1.398a.545 .545 0 0 1 .545 -.432h2.023l.114 .012a.544 .544 0 0 1 .42 .647l-.307 1.557a8.528 8.528 0 0 1 2.818 1.58l.023 .022c.216 .228 .216 .569 0 .773l-1.057 1.057z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coin-bitcoin" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M9 8h4.09c1.055 0 1.91 .895 1.91 2s-.855 2 -1.91 2c1.055 0 1.91 .895 1.91 2s-.855 2 -1.91 2h-4.09" />
          <path d="M10 12h4" />
          <path d="M10 7v10v-9" />
          <path d="M13 7v1" />
          <path d="M13 16v1" />
        </svg>
      </div>
      <div class="retiro">
        <p class="product-description">Formas de retiro</p>
        <div class="retiro1">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-truck" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />
          </svg>
          <p class="product-description">Envio GRATIS a Capital Federal</p>
        </div>
        <div class="retiro1">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-store" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 21l18 0" />
            <path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" />
            <path d="M5 21l0 -10.15" />
            <path d="M19 21l0 -10.15" />
            <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
          </svg>
          <p class="product-description">Retiro GRATIS en sucursal</p>
        </div>
      </div>
      <div class="button-container">
        <button class="add-to-cart-button" id={id}>Agregar al carrito</button>
      </div>
    </div>
    <div class="description-container">
      <h2 class="product-description">Descripcion</h2>
      <div class="linea"></div>
      <p class="product-description">{descripcion}</p>
    </div>
  </Body>
  <Footer />
</Layout>

<script>
  import { getProductosEnCarrito } from './productContainer'; 

document.addEventListener('DOMContentLoaded', () => {
  const button = document.querySelector('button.add-to-cart-button');

  if (button) {
    button.addEventListener('click', () => {
      const productId = button.id;
      let productosEnCarrito: { id: string, cantidad: number }[] = getProductosEnCarrito() || []; // Asegurarse de que productosEnCarrito sea un array

      // Añadir tipo explícito para el parámetro producto
      let productoEnCarrito = productosEnCarrito.find((producto: { id: string }) => producto.id === productId);

      if (productoEnCarrito) {
        productoEnCarrito.cantidad++;
        console.log(`Ya está en el carrito.`);
      } else {
        // Si el producto no está en el carrito, agrégalo con cantidad 1
        productoEnCarrito = {
          id: productId,
          cantidad: 1
        };
        productosEnCarrito.push(productoEnCarrito);
        console.log(`Se agregó el producto ${productId} al carrito.`);
      }

      // Guardar el carrito actualizado en localStorage
      localStorage.setItem("productos-en-carrito", JSON.stringify(productosEnCarrito));
      console.log(productosEnCarrito);
      alert("El producto fue agregado al carrito");
    });
  } else {
    console.error('El botón de agregar al carrito no se encontró en el DOM.');
  }
});
</script>

<style>
  body {
    background-color: #333;
  }

  .product-image {
    width: 40%;
    height: 30rem;
    float: left;
    margin-right: 2rem;
  }

  .product-info-container {
    display: inline-block;
    width: 46%;
    border: 1.2px solid black;
    border-radius: 4px;
    margin-left: 1rem;
    padding: 1rem;
  }

  .product-title {
    height: fit-content;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-top: 0;
    overflow: hidden;
    font-size: 1.8rem;
  }

  .product-description {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .product-price {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 2rem;
    margin-top: 0;
  }

  .button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .add-to-cart-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .add-to-cart-button:hover {
    background-color: #0056b3;
  }

  .retiro1 {
    display: flex;
    align-items: center;
  }

  .description-container {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .linea {
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid black;
  }

  @media (max-width: 768px) {
    .product-image {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
      float: none;
      margin-top: 4rem;
    }

    .product-info-container {
      width: 100%;
      margin-left: 0;
      padding: 1rem;
      text-align: center;
    }

    .description-container {
      width: 100%;
      text-align: left;
      padding: 0 1rem;
    }

    .button-container {
      margin-top: 20px;
    }
  }
</style>
