---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            const botonVaciarCarrito = document.querySelector("#carrito-acciones-vaciar");
            const contenedorCarritoProductos = document.querySelector("#carrito-productos");
            const totalElement = document.getElementById("total");

            // Verificar que los elementos existen antes de interactuar con ellos
            if (botonVaciarCarrito && contenedorCarritoProductos && totalElement) {
                // Vaciar Carrito:
                botonVaciarCarrito.addEventListener('click', () => {
                    let productosEnCarrito = JSON.parse(localStorage.getItem("productos-en-carrito") || "[]");
                    productosEnCarrito = [];
                    localStorage.setItem("productos-en-carrito", JSON.stringify(productosEnCarrito));
                    contenedorCarritoProductos.innerHTML = '';
                    console.log("Carrito Vaciado.");

                    let sumadorPrecio = 0;
                    localStorage.setItem('sumadorPrecio', sumadorPrecio.toString());
                    totalElement.innerText = "$" + sumadorPrecio;
                });

                // Cargar datos de todos los productos desde el endpoint
                let datosProductos = [];
                try {
                    const response = await fetch('https://quasar-scientific-sidewalk.glitch.me/productos');
                    datosProductos = await response.json();
                } catch (error) {
                    console.error('Error al cargar los productos:', error);
                }

                const productosEnCarrito = JSON.parse(localStorage.getItem("productos-en-carrito") || "[]");
                console.log(productosEnCarrito);

                let sumadorPrecio = 0; // Inicializar el sumadorPrecio

                if (productosEnCarrito.length > 0) {
                    productosEnCarrito.forEach((producto) => {
                        const slug = producto.id;
                        let cantidad = producto.cantidad;
                        const productoEncontrado = datosProductos.find((p) => p.id === slug);

                        if (productoEncontrado) {
                            console.log("Producto encontrado.", productoEncontrado);
                            const precioProducto = parseFloat(productoEncontrado.precio);
                            sumadorPrecio += precioProducto * cantidad;
                            const div = document.createElement("div");
                            div.classList.add("carrito-producto");
                            div.innerHTML = `
                                <li style="display: flex;align-items: center;background-color: #222;color: white;border-radius: 7px;margin-bottom: 0.5rem;overflow: hidden;transition: background-color 0.3s;" class="link-card">
                                    <img style="width: 150px;height: 150px;object-fit: cover;border-top-left-radius: 7px;border-bottom-left-radius: 7px;" src="${productoEncontrado.linkImagen}" alt="${productoEncontrado.titulo}" class="product-image">
                                    <div style="display: flex;flex-direction: column;justify-content: center;padding: 1rem;flex: 1;" class="product-details">
                                        <div style="display: flex"> 
                                            <h2 style="text-decoration: none;color: rgb(255, 255, 255);margin: 0 0 0.5rem 0;font-size: 1.25rem;font-weight: bold;" class="product-title">${productoEncontrado.titulo}</h2>
                                            <button class="borrar-un-producto" data-slug="${slug}" style="margin-left: 20px">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M4 7l16 0" />
                                                    <path d="M10 11l0 6" />
                                                    <path d="M14 11l0 6" />
                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                                </svg>
                                            </button>
                                        </div>
                                        <p style="margin: 0;color: white;font-size: 1rem;" class="product-body">${productoEncontrado.descripcion}</p>
                                        <div style="display: in-line"> 
                                            <p>Precio (x unidad): $ ${productoEncontrado.precio}</p>
                                            <p id="cant-producto-${slug}">Cantidad: ${cantidad}</p>
                                            <div class="botones-cantidad" style="margin-left: 10px;">
                                                <button class="aumentar-cantidad" data-slug="${slug}">+</button>
                                                <button class="disminuir-cantidad" data-slug="${slug}">-</button>
                                            </div>
                                            <p class="precio-total-del-producto" id="precio-total-producto-${slug}">Precio (total producto): $ ${precioProducto * cantidad}</p>
                                        </div>
                                    </div>
                                </li>
                            `;
                            
                            contenedorCarritoProductos.append(div);

                            localStorage.setItem('sumadorPrecio', sumadorPrecio.toString());
                            totalElement.innerText = "$" + sumadorPrecio;

                            // Borrar un producto:
                            const botonEliminarProducto = div.querySelector(`.borrar-un-producto[data-slug="${slug}"]`);
                            if (botonEliminarProducto) {
                                botonEliminarProducto.addEventListener('click', () => {
                                    const index = productosEnCarrito.findIndex((p) => p.id === slug);
                                    if (index !== -1) {
                                        productosEnCarrito.splice(index, 1);
                                        localStorage.setItem("productos-en-carrito", JSON.stringify(productosEnCarrito));
                                        div.remove();
                                        sumadorPrecio -= precioProducto * cantidad;
                                        localStorage.setItem('sumadorPrecio', sumadorPrecio.toString());
                                        totalElement.innerText = "$" + sumadorPrecio;
                                    }
                                });
                            }

                            // Sumar y restar cantidad con botones:
                            const botonAumentarCantidad = div.querySelector(`.aumentar-cantidad[data-slug="${slug}"]`);
                            const botonDisminuirCantidad = div.querySelector(`.disminuir-cantidad[data-slug="${slug}"]`);

                            if (botonAumentarCantidad) {
                                botonAumentarCantidad.addEventListener('click', () => {
                                    cantidad++;
                                    const cantidadElemento = document.getElementById(`cant-producto-${slug}`);
                                    if (cantidadElemento) {
                                        cantidadElemento.innerText = `Cantidad: ${cantidad}`;
                                    }
                                    const precioTotalElemento = document.getElementById(`precio-total-producto-${slug}`);
                                    if (precioTotalElemento) {
                                        precioTotalElemento.innerText = `Precio (total producto): $ ${precioProducto * cantidad}`;
                                    }                                    
                                    const producto = productosEnCarrito.find((p) => p.id === slug);
                                    if (producto) {
                                        producto.cantidad = cantidad;
                                    }
                                    sumadorPrecio += precioProducto;
                                    localStorage.setItem('sumadorPrecio', sumadorPrecio.toString());
                                    totalElement.innerText = "$" + sumadorPrecio;
                                });
                            }

                            if (botonDisminuirCantidad) {
                                botonDisminuirCantidad.addEventListener('click', () => {
                                    if (cantidad > 1) {
                                        cantidad--;
                                        const cantidadElemento = document.getElementById(`cant-producto-${slug}`);
                                        if (cantidadElemento) {
                                            cantidadElemento.innerText = `Cantidad: ${cantidad}`;
                                        }

                                        const precioTotalElemento = document.getElementById(`precio-total-producto-${slug}`);
                                        if (precioTotalElemento) {
                                            precioTotalElemento.innerText = `Precio (total producto): $ ${precioProducto * cantidad}`;
                                        }                                        
                                        productosEnCarrito.find((p) => p.id === slug)!.cantidad = cantidad;
                                        sumadorPrecio -= precioProducto;
                                        localStorage.setItem('sumadorPrecio', sumadorPrecio.toString());
                                        totalElement.innerText = "$" + sumadorPrecio;
                                    }
                                });
                            }
                        } else {
                            console.log("Producto no encontrado:", slug);
                        }
                    });
                }

                // Carrito Boton Comprar ahora
                const buyNowButton = document.querySelector(".carrito-acciones-comprar");
                buyNowButton.addEventListener('click', () => {
                    let mensaje = "Hola, me gustaría comprar: \n";
                    for (let i = 0; i < productosEnCarrito.length; i++) {
                        mensaje += `Producto: ${productosEnCarrito[i].id}. Cantidad: ${productosEnCarrito[i].cantidad}\n`;
                    }
                    mensaje += `Precio Total: $${sumadorPrecio}`;
                    console.log(mensaje);
                    const url = `https://wa.me/+5491122334455?text=${encodeURIComponent(mensaje)}`;
                    window.open(url, '_blank');
                });
            }
        });
    </script>
    <style>
        .carrito-producto {
            display: flex;
            align-items: center;
            background-color: #222;
            color: white;
            border-radius: 7px;
            margin-bottom: 0.5rem;
            overflow: hidden;
            transition: background-color 0.3s;
        }
        .product-image {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
        }
        .product-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            flex: 1;
        }
        .product-title {
            text-decoration: none;
            color: rgb(255, 255, 255);
            margin: 0 0 0.5rem 0;
            font-size: 1.25rem;
            font-weight: bold;
        }
        .product-body {
            margin: 0;
            color: white;
            font-size: 1rem;
        }
        .botones-cantidad {
            margin-left: 10px;
        }
        .borrar-un-producto {
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }
        .aumentar-cantidad, .disminuir-cantidad {
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            margin: 0 5px;
        }
    </style>
</head>
<body>
    <Navbar/>
    <main>
        <h1>Carrito</h1>
        <ul id="carrito-productos"></ul>
        <div id="total">Total: $0</div>
        <button id="carrito-acciones-vaciar">Vaciar Carrito</button>
        <button class="carrito-acciones-comprar">Comprar Ahora</button>
    </main>
    <Footer/>
</body>
</html>
